.detail {
	margin: 1em;
}

.cancel-button {
	float: right;
	margin: 1em;
	padding: 0.5em;
	border-radius: 10%;
	background-color: #f7f7f7;
	border: 1px #f7f7f7 solid;
	transition-duration: 0.4s;
}
.cancel-button:hover {
	background-color: #808285;
	color: #fff;
}
.cancel-button:disabled {
  background-color: #eee;
  color: #aaa;
  border: 1px #ccc solid;
}

.save-button {
	float: right;
	margin: 1em;
	padding: 0.5em;
	border-radius: 10%;
	background-color: #1b68b3;
	color: #fff;
	border: 1px #1b68b3 solid;
	transition-duration: 0.4s;
}
.save-button:hover {
	background-color: #f7f7f7;
	color: #1b68b3;
}
.save-button:disabled {
  background-color: #eee;
  color: #aaa;
  border: 1px #ccc solid;
}

input {
	width: 100%;
	border: 1px #ececec solid;
	border-radius: 5%;
	padding: 5px 10px;
	margin: 10px 0;
}

label {
	color: grey;
}
