.user-photo {
    border-radius: 100%;
    width: 60px;
}

.user-email, .user-name {
	display: none;
}

.image {
	display: inline-block;
	margin-right: 20px;
}

.user-details {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.users-list-item {
	display: flex;
	padding: 5px 10px;
}

.users-list-item:hover {
	background-color: #e8e8e8;
}

.users-list-item.selected {
	background-color: #1b68b3;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.user-name {
		display: block;
		font-weight: 600;
	}

	.user-email {
		display: block;
	}

	.user-details {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	}

	.image {
		display: inline-block;
		margin-right: 20px;
	}

	.users-list-item {
		display: flex;
	}
}