.user-photo {
    border-radius: 100%;
    width: 50%;
}

.image {
	display: inline-block;
	width: 30%;
}

.username {
	display: block;
}

.useremail {
	display: block;
}

.userdetails {
	width: 70%;
	display: inline-block;
	vertical-align: center;
}

.users-panel {
	margin: 1em;
}